.style-switcher {
    position: fixed;
    right: 0;
    top: 100px;
    padding: 3px;
    width: 100px;
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.style-switcher.open {
    transform: translateX(-5px);
}

.style-switcher .s-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 15px;
    color: var(--text-black-900);
    right: 100%;
    margin-right: 5px;
    border-radius: 50%;
}

.style-switcher .s-icon i {
    line-height: 40px;
}

.style-switcher .s-icon::after {
    border-radius: 50px;
}

.style-switcher .style-toggler {
    top: 0;
}

.style-switcher .day-night {
    top: 45px;
}

.style-switcher h4 {
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors .color-1 {
    background-color: #fb839e;
}

.style-switcher .colors .color-2 {
    background-color: #ec9412;
}

.style-switcher .colors .color-3 {
    background-color: #1fc586;
}

.style-switcher .colors .color-4 {
    background-color: #2eb1ed;
}

.style-switcher .colors .color-5 {
    background-color: #cc3a3b;
}

.style-switcher .colors span {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid red;
    border-radius: 50%;
    cursor: pointer;
}